openapi: 3.0.2
info:
  title: Wallet-Pay API Documentations
  version: "1.0"
servers:
- url: https://api.wallet-pay.openweb3.io
security:
- ApiKeyAuth: []
paths:
  /api/v1/apps/{appId}/currencies:
    get:
      description: List currencies.
      operationId: v1.currency.list
      parameters:
      - description: Specified the app id.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          description: Specified the app id.
          example: app_12345xsfei
          type: string
        style: simple
      - description: Limit the number of returned items
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          description: Limit the number of returned items
          example: 100
          format: uint64
          minimum: 0
          type: integer
        style: form
      - description: Specifying the start cursor position
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          description: Specifying the start cursor position
          type: string
        style: form
      - description: Specifying if currency supports fetching rates
        explode: true
        in: query
        name: rated
        required: false
        schema:
          description: Specifying if currency supports fetching rates
          example: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseListCurrencyOut'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
      summary: List currencies
      tags:
      - Currency
  /api/v1/apps/{appId}/currencies/{code}:
    get:
      description: Get specified currency.
      operationId: v1.currency.findByCode
      parameters:
      - description: Specified the app id.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          description: Specified the app id.
          example: app_12345xsfei
          type: string
        style: simple
      - description: Specified currency code.
        explode: false
        in: path
        name: code
        required: true
        schema:
          description: Specified currency code.
          example: USDT
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCurrencyOut'
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCurrencyOut'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
      summary: Find currency by code
      tags:
      - Currency
  /api/v1/apps/{appId}/transfers:
    post:
      description: Create a new transfer.
      operationId: v1.transfer.create
      parameters:
      - description: Specified the app id.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          description: Specified the app id.
          example: app_12345xsfei
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferIn'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseTransferOut'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseTransferOut'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Too Many Requests
      summary: Create Transfer
      tags:
      - Transfer
      x-readme:
        code-samples: []
  /api/v1/apps/{appId}/refunds:
    get:
      description: List refunds.
      operationId: v1.refund.list
      parameters:
      - description: Specified the app id.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          description: Specified the app id.
          example: app_12345xsfei
          type: string
        style: simple
      - description: Limit the number of returned items
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 20
          description: Limit the number of returned items
          example: 100
          format: uint64
          minimum: 0
          type: integer
        style: form
      - description: Specifying the page index
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          description: Specifying the page index
          example: 0
          type: integer
        style: form
      - description: Optional order id
        explode: true
        in: query
        name: order_id
        required: false
        schema:
          description: Optional order id
          example: 923be366-51d1-447f-a0e8-db4c75dffae5
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseListRefundOut'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
      summary: List Refunds
      tags:
      - Refund
    post:
      description: Create a refund.
      operationId: v1.refund.create
      parameters:
      - description: Specified the app id.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          description: Specified the app id.
          example: app_12345xsfei
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundIn'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseRefundOut'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseRefundOut'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Too Many Requests
      summary: Create Refund
      tags:
      - Refund
      x-readme:
        code-samples: []
  /api/v1/apps/{appId}/refunds/{idOrUid}:
    get:
      description: Get specified refund.
      operationId: v1.refund.get
      parameters:
      - description: Specified the app id.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          description: Specified the app id.
          example: app_12345xsfei
          type: string
        style: simple
      - description: Specified the refund id or refund uid.
        explode: false
        in: path
        name: idOrUid
        required: true
        schema:
          description: Specified the refund id or refund uid.
          example: 11b9ca57-0559-403a-bf8e-7bd1a31aff45
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseRefundOut'
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseRefundOut'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
      summary: Get Refund
      tags:
      - Refund
  /api/v1/apps/{appId}/orders:
    get:
      description: List orders.
      operationId: v1.order.list
      parameters:
      - description: Specified the app id.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          description: Specified the app id.
          example: app_12345xsfei
          type: string
        style: simple
      - description: Limit the number of returned items
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 20
          description: Limit the number of returned items
          example: 100
          format: uint64
          minimum: 0
          type: integer
        style: form
      - description: Specifying the page index
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          description: Specifying the page index
          example: 0
          type: integer
        style: form
      - description: Optional wallet id
        explode: true
        in: query
        name: wallet_id
        required: false
        schema:
          description: Optional wallet id
          example: wallet_id
          nullable: true
          type: string
        style: form
      - description: Optional currency code
        explode: true
        in: query
        name: currency
        required: false
        schema:
          description: Optional currency code
          example: USDT
          nullable: true
          type: string
        style: form
      - description: Optional order status
        explode: true
        in: query
        name: status
        required: false
        schema:
          description: Optional order status
          enum:
          - PENDING
          - PAID
          - EXPIRED
          - FAILED
          - COMPLETED
          example: PENDING
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseListOrderOut'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
      summary: List Orders
      tags:
      - Order
    post:
      description: Create a new order.
      operationId: v1.order.create
      parameters:
      - description: Specified the app id.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          description: Specified the app id.
          example: app_12345xsfei
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderIn'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseOrderOut'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseOrderOut'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Too Many Requests
      summary: Create Order
      tags:
      - Order
      x-readme:
        code-samples: []
  /api/v1/apps/{appId}/orders/{idOrUid}:
    get:
      description: Get specified order.
      operationId: v1.order.get
      parameters:
      - description: Specified the app id.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          description: Specified the app id.
          example: app_12345xsfei
          type: string
        style: simple
      - description: Specified the order id or order uid.
        explode: false
        in: path
        name: idOrUid
        required: true
        schema:
          description: Specified the order id or order uid.
          example: 11b9ca57-0559-403a-bf8e-7bd1a31aff45
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseOrderOut'
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseOrderOut'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
      summary: Get order
      tags:
      - Order
  /api/v1/apps/{appId}/webhooks/endpoints:
    get:
      description: List endpoints.
      operationId: v1.endpoint.list
      parameters:
      - description: Specified the app id.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          description: Specified the app id.
          example: app_12345xsfei
          type: string
        style: simple
      - description: Limit the number of returned items
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          description: Limit the number of returned items
          example: 100
          format: uint64
          minimum: 0
          type: integer
        style: form
      - description: Specifying the start cursor position
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          description: Specifying the start cursor position
          type: string
        style: form
      - description: The sorting order of the returned items
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          $ref: '#/components/schemas/Ordering'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseListEndpointOut'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Too Many Requests
      summary: List endpoints
      tags:
      - Webhook Endpoint
    post:
      description: Create a webhook endpoint.
      operationId: v1.endpoint.create
      parameters:
      - description: Specified the app id.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          description: Specified the app id.
          example: app_12345xsfei
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointIn'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEndpointOut'
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEndpointOut'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
      summary: Create endpoint
      tags:
      - Webhook Endpoint
      x-readme:
        code-samples: []
  /api/v1/apps/{appId}/webhooks/endpoints/{endpointId}:
    delete:
      description: delete the specified webhook endpoint.
      operationId: v1.endpoint.delete
      parameters:
      - description: Specified the app id.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          description: Specified the app id.
          example: app_12345xsfei
          type: string
        style: simple
      - description: Specified the endpoint id.
        explode: false
        in: path
        name: endpointId
        required: true
        schema:
          description: Specified the endpoint id.
          example: wb_12345xsfei
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEndpointOut'
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEndpointOut'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
      summary: Delete endpoint
      tags:
      - Webhook Endpoint
    get:
      description: get the specified webhook endpoint.
      operationId: v1.endpoint.get
      parameters:
      - description: Specified the app id.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          description: Specified the app id.
          example: app_12345xsfei
          type: string
        style: simple
      - description: Specified the endpoint id or endpoint uid.
        explode: false
        in: path
        name: endpointId
        required: true
        schema:
          description: Specified the endpoint id.
          example: wb_12345xsfei
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEndpointOut'
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEndpointOut'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Internal Server Error
      summary: Delete endpoint
      tags:
      - Webhook Endpoint
components:
  schemas:
    ResponseError:
      properties:
        msg:
          type: string
        code:
          type: integer
      required:
      - code
      - msg
      title: ResponseError
      type: object
    Ordering:
      description: Defines the ordering in a listing of results.
      enum:
      - asc
      - desc
      type: string
    WebhookMessage:
      description: The request body of the webhook POST request.
      properties:
        event_type:
          description: Message event type
          example: order_paid
          maxLength: 256
          minLength: 1
          type: string
        payload:
          $ref: '#/components/schemas/OrderOut'
    ResponseCurrencyOut:
      example:
        data:
          max_withdraw_amount: "0.0012345"
          symbol: USDT
          code: USDT
          precision: 6
          decimals: 12
          name: USDT
          logo: http://logo.jpg
          can_withdraw: false
          can_deposit: false
          can_transfer: false
          min_deposit_amount: "0.0012345"
          min_withdraw_amount: "0.0012345"
      properties:
        data:
          $ref: '#/components/schemas/CurrencyOut'
      required:
      - data
      title: ResponseCurrencyOut
      type: object
    CurrencyOut:
      example:
        max_withdraw_amount: "0.0012345"
        symbol: USDT
        code: USDT
        precision: 6
        decimals: 12
        name: USDT
        logo: http://logo.jpg
        can_withdraw: false
        can_deposit: false
        can_transfer: false
        min_deposit_amount: "0.0012345"
        min_withdraw_amount: "0.0012345"
      properties:
        code:
          description: Currency code
          example: USDT
          maxLength: 256
          minLength: 1
          type: string
        symbol:
          description: Currency symbol
          example: USDT
          maxLength: 256
          minLength: 1
          type: string
        logo:
          description: Currency logo url
          example: http://logo.jpg
          maxLength: 256
          minLength: 1
          type: string
        name:
          description: Currency name
          example: USDT
          maxLength: 256
          minLength: 1
          type: string
        can_deposit:
          description: Is it posible to deposit on blockchain
          example: false
          type: boolean
        can_withdraw:
          description: Is it posible to withdraw to blockchain
          example: false
          type: boolean
        can_transfer:
          description: Is it posible to transfer in custody wallet
          example: false
          type: boolean
        min_deposit_amount:
          description: Big decimal string representation. The min amount to deposit.
          example: "0.0012345"
          maxLength: 256
          minLength: 1
          type: string
        min_withdraw_amount:
          description: Big decimal string representation. The min amount to withdraw.
          example: "0.0012345"
          maxLength: 256
          minLength: 1
          type: string
        max_withdraw_amount:
          description: Big decimal string representation. The max amount to withdraw.
          example: "0.0012345"
          maxLength: 256
          minLength: 1
          type: string
        precision:
          description: Currency precision
          example: 6
          type: integer
        decimals:
          description: Currency decimals
          example: 12
          type: integer
      required:
      - can_deposit
      - can_transfer
      - can_withdraw
      - code
      - decimals
      - logo
      - max_withdraw_amount
      - min_deposit_amount
      - min_withdraw_amount
      - name
      - precision
      - symbol
      type: object
    ListResponse_CurrencyOut_:
      example:
        prev_cursor: prev_cursor
        next_cursor: next_cursor
        has_next: true
        items:
        - max_withdraw_amount: "0.0012345"
          symbol: USDT
          code: USDT
          precision: 6
          decimals: 12
          name: USDT
          logo: http://logo.jpg
          can_withdraw: false
          can_deposit: false
          can_transfer: false
          min_deposit_amount: "0.0012345"
          min_withdraw_amount: "0.0012345"
        - max_withdraw_amount: "0.0012345"
          symbol: USDT
          code: USDT
          precision: 6
          decimals: 12
          name: USDT
          logo: http://logo.jpg
          can_withdraw: false
          can_deposit: false
          can_transfer: false
          min_deposit_amount: "0.0012345"
          min_withdraw_amount: "0.0012345"
      properties:
        items:
          items:
            $ref: '#/components/schemas/CurrencyOut'
          type: array
        next_cursor:
          type: string
        prev_cursor:
          type: string
        has_next:
          type: boolean
      required:
      - items
      type: object
    ResponseListCurrencyOut:
      example:
        data:
          prev_cursor: prev_cursor
          next_cursor: next_cursor
          has_next: true
          items:
          - max_withdraw_amount: "0.0012345"
            symbol: USDT
            code: USDT
            precision: 6
            decimals: 12
            name: USDT
            logo: http://logo.jpg
            can_withdraw: false
            can_deposit: false
            can_transfer: false
            min_deposit_amount: "0.0012345"
            min_withdraw_amount: "0.0012345"
          - max_withdraw_amount: "0.0012345"
            symbol: USDT
            code: USDT
            precision: 6
            decimals: 12
            name: USDT
            logo: http://logo.jpg
            can_withdraw: false
            can_deposit: false
            can_transfer: false
            min_deposit_amount: "0.0012345"
            min_withdraw_amount: "0.0012345"
      properties:
        data:
          $ref: '#/components/schemas/ListResponse_CurrencyOut_'
      required:
      - data
      title: ResponseEndpointOut
      type: object
    TransferIn:
      example:
        to_wallet_id: 7e5c8e13-0573-472e-9e34-fe779c618fcf
        amount: "10000"
        description: Distribute prizes
        currency: USDT
        auto_commit: true
        tags:
        - tags
        - tags
      properties:
        to_wallet_id:
          description: the target wallet id
          example: 7e5c8e13-0573-472e-9e34-fe779c618fcf
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        currency:
          description: currency code
          example: USDT
          maxLength: 256
          minLength: 1
          type: string
        amount:
          description: big integer string representation
          example: "10000"
          maxLength: 256
          minLength: 1
          type: string
        auto_commit:
          description: auto commit, default is true
          example: true
          type: boolean
        description:
          description: transfer description
          example: Distribute prizes
          maxLength: 256
          minLength: 1
          type: string
        tags:
          description: transfer tags
          items:
            type: string
          nullable: true
          type: array
      required:
      - amount
      - currency
      - to_wallet_id
      type: object
    TransferOut:
      example:
        transfer_id: 7e5c8e13-0573-472e-9e34-fe779c618fcf
      properties:
        transfer_id:
          description: the transfer id
          example: 7e5c8e13-0573-472e-9e34-fe779c618fcf
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
      required:
      - transfer_id
      type: object
    ResponseTransferOut:
      example:
        data:
          transfer_id: 7e5c8e13-0573-472e-9e34-fe779c618fcf
      properties:
        data:
          $ref: '#/components/schemas/TransferOut'
      required:
      - data
      title: ResponseTransferOut
      type: object
    RefundIn:
      example:
        uid: unique-identifier
        note: note example
        amount: "123450000"
        order_id: fdcefb20-1994-417a-8c6a-0648b841c266
      properties:
        uid:
          description: Optional unique identifier for the refund
          example: unique-identifier
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        order_id:
          description: The order's ID
          example: fdcefb20-1994-417a-8c6a-0648b841c266
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        amount:
          description: Big integer string representation, whose meaning is the value
            of absolute floating-point number multiplied by the corresponding decimals
            of the cryptocurrency.
          example: "123450000"
          maxLength: 256
          minLength: 1
          type: string
        note:
          description: Optional refund note
          example: note example
          maxLength: 256
          minLength: 1
          type: string
      required:
      - amount
      - order_id
      type: object
    RefundOut:
      example:
        uid: unique-identifier
        note: note example
        completed_at: 2000-01-23T04:56:07.000+00:00
        amount: "12345000"
        created_at: 2000-01-23T04:56:07.000+00:00
        currency: USDT
        id: fdcefb20-1994-417a-8c6a-0648b841c266
        failed_at: 2000-01-23T04:56:07.000+00:00
        order_id: fdcefb20-1994-417a-8c6a-0648b841c266
        failed_message: failed_message
        status: PENDING
      properties:
        id:
          description: The refund's ID
          example: fdcefb20-1994-417a-8c6a-0648b841c266
          type: string
        uid:
          description: The refund's UID
          example: unique-identifier
          maxLength: 256
          minLength: 1
          nullable: true
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        order_id:
          description: The relative order id
          example: fdcefb20-1994-417a-8c6a-0648b841c266
          type: string
        currency:
          description: Currency code
          example: USDT
          maxLength: 256
          minLength: 1
          type: string
        amount:
          description: Big integer string representation, whose meaning is the value
            of absolute floating-point number multiplied by the corresponding decimals
            of the cryptocurrency.
          example: "12345000"
          maxLength: 256
          minLength: 1
          type: string
        status:
          description: The refund's status
          enum:
          - PENDING
          - FAILED
          - COMPLETED
          type: string
        note:
          description: Optional refund note
          example: note example
          maxLength: 256
          minLength: 1
          type: string
        failed_at:
          description: The refund's failure time
          format: date-time
          type: string
        failed_message:
          description: The message when refund failed
          type: string
        created_at:
          description: The refund's created time
          format: date-time
          type: string
        completed_at:
          description: The refund's completed time
          format: date-time
          type: string
      required:
      - amount
      - created_at
      - currency
      - id
      - order_id
      - status
      type: object
    ListResponse_RefundOut_:
      example:
        total: 0
        items:
        - uid: unique-identifier
          note: note example
          completed_at: 2000-01-23T04:56:07.000+00:00
          amount: "12345000"
          created_at: 2000-01-23T04:56:07.000+00:00
          currency: USDT
          id: fdcefb20-1994-417a-8c6a-0648b841c266
          failed_at: 2000-01-23T04:56:07.000+00:00
          order_id: fdcefb20-1994-417a-8c6a-0648b841c266
          failed_message: failed_message
          status: PENDING
        - uid: unique-identifier
          note: note example
          completed_at: 2000-01-23T04:56:07.000+00:00
          amount: "12345000"
          created_at: 2000-01-23T04:56:07.000+00:00
          currency: USDT
          id: fdcefb20-1994-417a-8c6a-0648b841c266
          failed_at: 2000-01-23T04:56:07.000+00:00
          order_id: fdcefb20-1994-417a-8c6a-0648b841c266
          failed_message: failed_message
          status: PENDING
      properties:
        items:
          items:
            $ref: '#/components/schemas/RefundOut'
          type: array
        total:
          type: integer
      required:
      - items
      type: object
    ResponseRefundOut:
      example:
        data:
          uid: unique-identifier
          note: note example
          completed_at: 2000-01-23T04:56:07.000+00:00
          amount: "12345000"
          created_at: 2000-01-23T04:56:07.000+00:00
          currency: USDT
          id: fdcefb20-1994-417a-8c6a-0648b841c266
          failed_at: 2000-01-23T04:56:07.000+00:00
          order_id: fdcefb20-1994-417a-8c6a-0648b841c266
          failed_message: failed_message
          status: PENDING
      properties:
        data:
          $ref: '#/components/schemas/RefundOut'
      required:
      - data
      title: ResponseRefundOut
      type: object
    ResponseListRefundOut:
      example:
        data:
          total: 0
          items:
          - uid: unique-identifier
            note: note example
            completed_at: 2000-01-23T04:56:07.000+00:00
            amount: "12345000"
            created_at: 2000-01-23T04:56:07.000+00:00
            currency: USDT
            id: fdcefb20-1994-417a-8c6a-0648b841c266
            failed_at: 2000-01-23T04:56:07.000+00:00
            order_id: fdcefb20-1994-417a-8c6a-0648b841c266
            failed_message: failed_message
            status: PENDING
          - uid: unique-identifier
            note: note example
            completed_at: 2000-01-23T04:56:07.000+00:00
            amount: "12345000"
            created_at: 2000-01-23T04:56:07.000+00:00
            currency: USDT
            id: fdcefb20-1994-417a-8c6a-0648b841c266
            failed_at: 2000-01-23T04:56:07.000+00:00
            order_id: fdcefb20-1994-417a-8c6a-0648b841c266
            failed_message: failed_message
            status: PENDING
      properties:
        data:
          $ref: '#/components/schemas/ListResponse_RefundOut_'
      required:
      - data
      title: ResponseListRefundOut
      type: object
    OrderIn:
      example:
        uid: unique-order-identifier
        note: note example
        amount: "0.0012345"
        metadata:
          key: metadata
        currency: USDT
        expiration: 600
      properties:
        uid:
          description: Optional unique identifier for the order
          example: unique-order-identifier
          maxLength: 256
          minLength: 1
          nullable: true
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        currency:
          description: Currency code
          example: USDT
          maxLength: 256
          minLength: 1
          type: string
        amount:
          description: Big integer string representation, whose meaning is the value
            of absolute floating-point number multiplied by the corresponding decimals
            of the cryptocurrency.
          example: "0.0012345"
          maxLength: 256
          minLength: 1
          type: string
        note:
          description: Optional order note
          example: note example
          maxLength: 256
          minLength: 1
          type: string
        metadata:
          additionalProperties:
            type: string
          default: {}
          description: Optional metadata
          nullable: true
          type: object
        expiration:
          description: The expiration seconds
          example: 600
          type: integer
      required:
      - amount
      - currency
      type: object
    OrderOut:
      example:
        note: note example
        amount: "1"
        metadata:
          key: metadata
        created_at: 2000-01-23T04:56:07.000+00:00
        expired_at: 2000-01-23T04:56:07.000+00:00
        failed_message: failed_message
        uid: unique-order-identifier
        wallet_id: wallet_id
        payed_at: 2000-01-23T04:56:07.000+00:00
        user_id: user_id
        currency: USDT
        expiration: 600
        id: 1brOrx2ZWZBpBUvZwXKQmoEYga2
        failed_at: 2000-01-23T04:56:07.000+00:00
        status: PENDING
      properties:
        id:
          description: The order's ID
          example: 1brOrx2ZWZBpBUvZwXKQmoEYga2
          type: string
        uid:
          description: The order's UID
          example: unique-order-identifier
          maxLength: 256
          minLength: 1
          nullable: true
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        currency:
          description: Currency code
          example: USDT
          maxLength: 256
          minLength: 1
          type: string
        amount:
          description: Big integer string representation, whose meaning is the value
            of absolute floating-point number multiplied by the corresponding decimals
            of the cryptocurrency.
          example: "1"
          maxLength: 256
          minLength: 1
          type: string
        user_id:
          description: The order's creator
          nullable: true
          type: string
        wallet_id:
          description: wallet id
          example: wallet_id
          maxLength: 256
          minLength: 1
          type: string
        note:
          description: Optional order notes
          example: note example
          maxLength: 256
          minLength: 1
          type: string
        metadata:
          additionalProperties:
            type: string
          nullable: true
          type: object
        expiration:
          description: The expiration seconds
          example: 600
          type: integer
        status:
          description: The order's status
          enum:
          - PENDING
          - PAID
          - FAILED
          - EXPIRED
          - COMPLETED
          type: string
        failed_message:
          description: The message when order failed
          type: string
        created_at:
          description: The order's creation time
          format: date-time
          type: string
        payed_at:
          description: The order's paid time
          format: date-time
          type: string
        expired_at:
          description: The order's expiration time
          format: date-time
          type: string
        failed_at:
          description: The order's failure time
          format: date-time
          type: string
      required:
      - amount
      - created_at
      - currency
      - id
      - status
      type: object
    ListResponse_OrderOut_:
      example:
        total: 0
        items:
        - note: note example
          amount: "1"
          metadata:
            key: metadata
          created_at: 2000-01-23T04:56:07.000+00:00
          expired_at: 2000-01-23T04:56:07.000+00:00
          failed_message: failed_message
          uid: unique-order-identifier
          wallet_id: wallet_id
          payed_at: 2000-01-23T04:56:07.000+00:00
          user_id: user_id
          currency: USDT
          expiration: 600
          id: 1brOrx2ZWZBpBUvZwXKQmoEYga2
          failed_at: 2000-01-23T04:56:07.000+00:00
          status: PENDING
        - note: note example
          amount: "1"
          metadata:
            key: metadata
          created_at: 2000-01-23T04:56:07.000+00:00
          expired_at: 2000-01-23T04:56:07.000+00:00
          failed_message: failed_message
          uid: unique-order-identifier
          wallet_id: wallet_id
          payed_at: 2000-01-23T04:56:07.000+00:00
          user_id: user_id
          currency: USDT
          expiration: 600
          id: 1brOrx2ZWZBpBUvZwXKQmoEYga2
          failed_at: 2000-01-23T04:56:07.000+00:00
          status: PENDING
      properties:
        items:
          items:
            $ref: '#/components/schemas/OrderOut'
          type: array
        total:
          type: integer
      required:
      - items
      type: object
    ResponseOrderOut:
      example:
        data:
          note: note example
          amount: "1"
          metadata:
            key: metadata
          created_at: 2000-01-23T04:56:07.000+00:00
          expired_at: 2000-01-23T04:56:07.000+00:00
          failed_message: failed_message
          uid: unique-order-identifier
          wallet_id: wallet_id
          payed_at: 2000-01-23T04:56:07.000+00:00
          user_id: user_id
          currency: USDT
          expiration: 600
          id: 1brOrx2ZWZBpBUvZwXKQmoEYga2
          failed_at: 2000-01-23T04:56:07.000+00:00
          status: PENDING
      properties:
        data:
          $ref: '#/components/schemas/OrderOut'
      required:
      - data
      title: ResponseOrderOut
      type: object
    ResponseListOrderOut:
      example:
        data:
          total: 0
          items:
          - note: note example
            amount: "1"
            metadata:
              key: metadata
            created_at: 2000-01-23T04:56:07.000+00:00
            expired_at: 2000-01-23T04:56:07.000+00:00
            failed_message: failed_message
            uid: unique-order-identifier
            wallet_id: wallet_id
            payed_at: 2000-01-23T04:56:07.000+00:00
            user_id: user_id
            currency: USDT
            expiration: 600
            id: 1brOrx2ZWZBpBUvZwXKQmoEYga2
            failed_at: 2000-01-23T04:56:07.000+00:00
            status: PENDING
          - note: note example
            amount: "1"
            metadata:
              key: metadata
            created_at: 2000-01-23T04:56:07.000+00:00
            expired_at: 2000-01-23T04:56:07.000+00:00
            failed_message: failed_message
            uid: unique-order-identifier
            wallet_id: wallet_id
            payed_at: 2000-01-23T04:56:07.000+00:00
            user_id: user_id
            currency: USDT
            expiration: 600
            id: 1brOrx2ZWZBpBUvZwXKQmoEYga2
            failed_at: 2000-01-23T04:56:07.000+00:00
            status: PENDING
      properties:
        data:
          $ref: '#/components/schemas/ListResponse_OrderOut_'
      required:
      - data
      title: ResponseListOrderOut
      type: object
    EndpointIn:
      example:
        uid: unique-endpoint-identifier
        headers:
          x-user-id: user1
          x-org-id: org_xdwfeees1xfeg
        metadata:
          node: http://dashboard.com/node1
          tag: node
        description: The description for endpoint
        filter_types:
        - order_expired
        disabled: false
        url: http://example.com/endpoint
      properties:
        uid:
          description: Optional unique identifier for the endpoint
          example: unique-endpoint-identifier
          maxLength: 256
          minLength: 1
          nullable: true
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        filter_types:
          description: The webhook endpoint expected event types
          example:
          - order_expired
          items:
            type: string
          type: array
        url:
          description: The webhook endpoint url
          example: http://example.com/endpoint
          type: string
        disabled:
          description: indicate whether to disable the webhook endpoint
          example: false
          type: boolean
        metadata:
          additionalProperties: {}
          default: {}
          description: Optional metadata
          example:
            node: http://dashboard.com/node1
            tag: node
          nullable: true
          type: object
        headers:
          additionalProperties:
            type: string
          default: {}
          description: Optional headers
          example:
            x-user-id: user1
            x-org-id: org_xdwfeees1xfeg
          nullable: true
          type: object
        description:
          description: The endpoint's description
          example: The description for endpoint
          type: string
      required:
      - filter_types
      - url
      type: object
    EndpointOut:
      example:
        uid: unique-endpoint-identifier
        headers:
          x-user-id: user1
          x-org-id: org_xdwfeees1xfeg
        metadata:
          node: http://dashboard.com/node1
          tag: node
        description: The description for endpoint
        filter_types:
        - order_expired
        disabled: false
        id: 1brOrx2ZWZBpBUvZwXKQmoEYga2
        url: http://example.com/endpoint
      properties:
        id:
          description: The order's ID
          example: 1brOrx2ZWZBpBUvZwXKQmoEYga2
          type: string
        uid:
          description: Optional unique identifier for the endpoint
          example: unique-endpoint-identifier
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        description:
          description: The endpoint's description
          example: The description for endpoint
          type: string
        url:
          description: The webhook endpoint url
          example: http://example.com/endpoint
          type: string
        filter_types:
          description: The webhook endpoint expected event types
          example:
          - order_expired
          items:
            type: string
          type: array
        disabled:
          description: indicate whether to disable the webhook endpoint
          example: false
          type: boolean
        metadata:
          additionalProperties: {}
          default: {}
          description: Optional metadata
          example:
            node: http://dashboard.com/node1
            tag: node
          nullable: true
          type: object
        headers:
          additionalProperties:
            type: string
          default: {}
          description: Optional headers
          example:
            x-user-id: user1
            x-org-id: org_xdwfeees1xfeg
          nullable: true
          type: object
      required:
      - filter_types
      - id
      - url
      type: object
    ListResponse_EndpointOut_:
      example:
        prev_cursor: prev_cursor
        next_cursor: next_cursor
        has_next: true
        items:
        - uid: unique-endpoint-identifier
          headers:
            x-user-id: user1
            x-org-id: org_xdwfeees1xfeg
          metadata:
            node: http://dashboard.com/node1
            tag: node
          description: The description for endpoint
          filter_types:
          - order_expired
          disabled: false
          id: 1brOrx2ZWZBpBUvZwXKQmoEYga2
          url: http://example.com/endpoint
        - uid: unique-endpoint-identifier
          headers:
            x-user-id: user1
            x-org-id: org_xdwfeees1xfeg
          metadata:
            node: http://dashboard.com/node1
            tag: node
          description: The description for endpoint
          filter_types:
          - order_expired
          disabled: false
          id: 1brOrx2ZWZBpBUvZwXKQmoEYga2
          url: http://example.com/endpoint
      properties:
        items:
          items:
            $ref: '#/components/schemas/EndpointOut'
          type: array
        prev_cursor:
          type: string
        next_cursor:
          type: string
        has_next:
          type: boolean
      required:
      - items
      type: object
    ResponseEndpointOut:
      example:
        data:
          uid: unique-endpoint-identifier
          headers:
            x-user-id: user1
            x-org-id: org_xdwfeees1xfeg
          metadata:
            node: http://dashboard.com/node1
            tag: node
          description: The description for endpoint
          filter_types:
          - order_expired
          disabled: false
          id: 1brOrx2ZWZBpBUvZwXKQmoEYga2
          url: http://example.com/endpoint
      properties:
        data:
          $ref: '#/components/schemas/EndpointOut'
      required:
      - data
      title: ResponseEndpointOut
      type: object
    ResponseListEndpointOut:
      example:
        data:
          prev_cursor: prev_cursor
          next_cursor: next_cursor
          has_next: true
          items:
          - uid: unique-endpoint-identifier
            headers:
              x-user-id: user1
              x-org-id: org_xdwfeees1xfeg
            metadata:
              node: http://dashboard.com/node1
              tag: node
            description: The description for endpoint
            filter_types:
            - order_expired
            disabled: false
            id: 1brOrx2ZWZBpBUvZwXKQmoEYga2
            url: http://example.com/endpoint
          - uid: unique-endpoint-identifier
            headers:
              x-user-id: user1
              x-org-id: org_xdwfeees1xfeg
            metadata:
              node: http://dashboard.com/node1
              tag: node
            description: The description for endpoint
            filter_types:
            - order_expired
            disabled: false
            id: 1brOrx2ZWZBpBUvZwXKQmoEYga2
            url: http://example.com/endpoint
      properties:
        data:
          $ref: '#/components/schemas/ListResponse_EndpointOut_'
      required:
      - data
      title: ResponseListEndpointOut
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: x-api-key
      type: apiKey
x-readme:
  samples-languages:
  - python
  - node
  - csharp
  - java
  - go
  - kotlin
  - ruby
  - rust
  - java
  - shell
  parameter-ordering:
  - path
  - query
  - header
  - cookie
  - body
  - form
